<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::: Laundr:f 회원정보수정 :::</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/sign.css" />
    <script src="./static/js/my_info_edit_shop.js"></script>
  </head>
  <body>
    <header>
      <div class="header_wrap">
        <h1>Laundr:f</h1>
        <ul class="gnb">
          <a href=""><li class="user_review">리뷰관리</li></a>
          <a href=""><li class="user_info_edit">회원정보수정</li></a>
          <a href=""><li class="user_logout">로그아웃</li></a>
          <a href=""><li class="user_nickname">임시닉네임</li></a>
        </ul>
        <p class="user_point">잔여 포인트 : 920,000</p>
      </div>
    </header>
    <div class="sign_wrap">
      <div class="register_wrap">
        <h2 class="update">UPDATE</h2>
        <label for="">
          <input type="text" name="nickname" id="nickname" placeholder="닉네임(매장명)" />
          <span class="nickname_check">중복확인</span>
        </label>
        <label for="">
          <input type="password" name="password" id="password" placeholder="비밀번호" />
          <span class="password_check">비밀번호가 다릅니다.</span>
        </label>
        <label for="">
          <input type="password" name="password2" id="password2" placeholder="비밀번호 확인" />
          <span class="password_check">비밀번호가 다릅니다.</span>
        </label>
        <input type="text" name="phone_number" id="phone_number" placeholder="연락처" />
        <input type="text" name="address" id="address" placeholder="주소" />

        <input
          class="shop_edit"
          type="submit"
          onclick="edit_shop()"
          name="shop_info_edit_submit"
          value="회원정보 수정하기"
        />
      </div>
    </div>
  </body>
</html>
