<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::: 마이페이지 :::</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/css/reset.css" />
    <link rel="stylesheet" href="./static/css/header.css" />
    <link rel="stylesheet" href="./static/css/mypage.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="../static/js/index.js"></script> -->
    <script src="./static/js/header.js"></script>
  </head>
  <body>
    <header>
      <div class="header_wrap" id="header_wrap" name="header_wrap">
    </header>

    <main id="mypage">
      <!-- <div class="my_laundry">
        <p class="shop_name">${shop_name}</p>
        <p class="laundry_date">2023-01-04</p>
        <ul class="status_wrap">
          <li class="status_0">대기중</li>
          <li class="status_1">수거중</li>
          <li class="status_2">수거완료</li>
          <li class="status_3">배송중</li>
          <li class="status_4">배송완료</li>
        </ul>
        <input
          type="button"
          class="user_confirm_test"
          onclick="test()"
          value="테스트버튼"
        />
        <input
          type="button"
          class="user_confirm"
          onclick="user_confirm()"
          value="세탁완료하기"
        />
        <input
          type="button"
          class="review_write"
          onclick="review_write()"
          value="리뷰 작성"
        />
        <div class="my_laundry_btn" class="user_confirm">
          <a href="" onclick><p class="user_confirm">세탁완료하기</p></a>
          <a href=""><p class="review_write">리뷰 작성</p></a>
        </div>
      </div> -->
    </main>
    <a href=""><div class="laundry_add" onclick="laundry_add()">세탁추가하기</div></a>
  </body>
</html>
