<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::: Wash List :::</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/shop_wash_list.css" />
    <script src="./static/js/status_update.js"></script>
  </head>
  <body>
    <header>
      <div class="header_wrap">
        <h1>Laundr:f</h1>
        <ul class="gnb">
          <a href="my_review.html"><li class="user_review">리뷰관리</li></a>
          <a href="my_info_edit.html"
            ><li class="user_info_edit">회원정보수정</li></a
          >
          <a href=""><li class="user_logout">로그아웃</li></a>
          <li class="user_nickname">임시닉네임</li>
        </ul>
        <p class="user_point">잔여 포인트 : 920,000</p>
      </div>
    </header>

    <main>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            value="세탁 진행하기"
          />
        </div>
      </div>
      <div class="wash_list">
        <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            onclick="shop_wash_start()"
            value="세탁 진행하기"
          />
        </div>
      </div>
    </main>
  </body>
</html>
