<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::: Wash List :::</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/shop_wash_list.css" />
    <script src="./static/js/shop_wash_list.js"></script>
  </head>
  <body>
    <header>
      <div class="header_wrap" id="header_wrap" name="header_wrap">
      </header>
      
      <main id="washListId">      
        <!-- <div class="wash_list">
          <img
          src="https://experiencelife.lifetime.life/wp-content/uploads/2022/06/ja22-we-sweat-clothes-smell-worse-than-others.jpg"
          alt=""
        />
        <div class="wash_list_bottom">
          <p class="extra">
            요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.요청사항(extra) 데이터 받아와야
            합니다.요청사항(extra) 데이터 받아와야 합니다.요청사항(extra) 데이터
            받아와야 합니다.
          </p>
          <input
            class="wash_btn"
            type="button"
            name="wash_start"
            onclick="shop_wash_start()"
            value="세탁 진행하기"
          />
        </div>
      </div> -->
    </main>
    <script defer src="./static/js/wash_list.js"></script>
    <script defer src="./static/js/header_shop.js"></script>
  </body>
  <script src="/static/js/wash_list.js"></script>
</html>
