@import url(_variables.css);

.box_center {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: calc(100vh - 66px);
}

.shop_status_wrap {
    width: 700px;
    height: 700px;
    position: relative;    
    background-color: var(--point-color);
    border-radius: 50px;
    padding: 40px;
}

.wash_data {
    width: 620px;
    height: 500px;
    background-color: var(--sub-color-1);
    margin-bottom: 10px;
    color: var(--sub-color-2);
    border: 1px solid var(--sub-color-2);
    border-radius: 30px;
    padding: 25px;
}

.wash_data > img {
    margin-bottom: 10px;
}

.shop_user_nickname {
    float: left;
    width: 250px;
}

.shop_user_address, .shop_user_extra  {
    margin-top: 10px;
}

.wash_status {
    width: 620px;
    height: 60px;
    background-color: var(--sub-color-1);
    margin-bottom: 10px;
    color: var(--sub-color-2);
    border: 1px solid var(--sub-color-2);
    border-radius: 30px;
    padding: 16px;
}

.status_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 540px;
    font-size: 18px;
    font-weight: 500;
    color: var(--sub-color-2);
}

.status_1 {
    color: var(--point-color)
}

.status_update_btn {
    position: absolute;
    bottom: 40px;
    width: 620px;
    height: 40px;
    background-color: var(--sub-color-1);
    color: var(--point-color);
    font-weight: 500;
    border: 1px solid var(--sub-color-2);
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
